.hero {
  display: flex;
  background-image: url(./imagenes/alonso_tomando_sol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16/9;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: left;
  flex-wrap: wrap;
}

p {
  display: flex;
  text-align: justify;
}
a {
  text-decoration: none;
}

.cuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gris {
  background-color: lightgray;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
  width: 75%;
}
.section1 a {
  background-color: rgb(21, 71, 53);
  color: white;
  padding: 12px;
}

.section6 a {
  background-color: rgb(21, 71, 53);
  color: white;
  padding: 12px;
}

.section1 h2 {
  width: 100%;
  text-align: center;
  padding: 15px;
}

.ventajas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ventajas div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  min-width: 45%;
}
.ventajas h3 {
  align-self: center;
}
.section3 p {
  text-align: justify;
}
section h2 {
  text-align: center;
  text-decoration: underline;
}
.ventajas p {
  max-width: 500px;
}

.section2 {
  gap: 35px;
}

.div_imagen1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.section2 img {
  width: 50%;
}

.section2 h3 {
  padding-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

.caracteristicas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.caracteristicas h3 {
  margin-top: 12px;
  text-align: center;
}

.caracteristicas li {
  width: 33%;
  min-width: 275px;
  padding: 15px;
}

.caracteristicas img {
  max-width: 100%;
  border-radius: 50%;
}

.section4 {
  gap: 35px;
}

.div_imagen2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.section4 img {
  width: 50%;
}

.tarjetas {
  gap: 50px;
}

.tarjetas li {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  height: 400px;
  min-width: 275px;
  padding: 15px;
  box-shadow: 0 0 5px 0 black;
}

.tarjetas img {
  max-width: 100%;
  padding-bottom: 10px;
}

.section6 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section6 h2 {
  width: 60%;
}
.botones {
  display: flex;
  gap: 1rem;
}
.section4 p {
  text-align: justify;
}
.section4 p {
  font-style: italic;
}
.div_imagen2 {
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .ventajas {
    width: 100%;
    flex-direction: column;
  }
  .botones {
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  .section2 {
    flex-direction: column-reverse;
  }
  .section2 img {
    width: 75%;
  }
  .section4 {
    flex-direction: column-reverse;
  }
  .section4 img {
    width: 75%;
  }
  .section6 {
    flex-direction: column;
    gap: 2rem;
  }
}
