*{
    
    box-sizing: border-box;
    padding: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    
}



.burger{
    width: 24px;
    padding: 12px;
    border: 1px;
    border-radius: 4px;
    display: none;
    
}

.burger img{
    width: 24px;
}

.fotoMenu{
   width: 50px;
}
.menu{

    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: rgb(21, 71, 53);
    border-radius: 12px;
    
}

.left{
    display: flex;
    align-items: center;
    gap: 24px;
}

a{
    color: white;
}

#logo{
    width: 64px;

}

div{
    display: block;
}
@media only screen and (max-width: 600px){
    .movilOculto{
        display: none;
    }
    .burger{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
}