body{
    background-color: lightgray;
}


form{
 
    background-color: lightgray;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  .contacto{
    background-color: rgb(21, 71, 53);
    color: white;
  }

  .form{
    background-color: lightgray;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: left;
    flex-wrap: wrap;
  }

  a {
    text-decoration: none;
  }
  
  .cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
  }